name: registry-1.docker.io/highcard/scroll-lgsm
desc: {{ .Version }}
version: 0.0.2
app_version: {{ .Version }}
init: "main.install"
processes:
  main:
    commands:
      start:
        should_change_status: start
        procedures:
          - mode: exec
            data:
              - ./{{ .Version }}
              - start
      console:
        procedures:
          - mode: exec
            data:
              - sh
              - attach.sh
      stop:
        procedures:
          - mode: exec
            data:
              - ./{{ .Version }}
              - stop
      install:
        procedures:
          - mode: exec
            data:
              - sh
              - install-lgsm.sh
          - mode: exec
            data:
              - ./linuxgsm.sh
              - {{ .Version }}
          - mode: exec
            data:
              - ./{{ .Version }}
              - auto-install
          - mode: command
            data: start
