name: artifacts.druid.gg/druid-team/scroll-lgsm
desc: {{ .Version }}
version: 0.0.2
app_version: {{ .Version }}
keepAlivePPM: {{ or .Vars.ppm 5 }}
{{- if .ChunksYaml }}
{{ .ChunksYaml }}{{- end }}
{{- $queryPort := or .Vars.lua_query_port "query" }}
{{- if .Ports }}
ports:
{{- range .Ports }}
- name: {{ .Name }}
  protocol: {{ .Protocol }}
{{- if .Port }}
  port: {{ .Port }}
{{- end }}
{{- if .Description }}
  description: {{ .Description }}
{{- end }}
{{- end }}
{{- end }}
commands:
{{- $keepAliveTraffic := or .Vars.keep_alive_traffic "1mb/30m" }}
  console:
    needs:
    - start
    run: restart
    procedures:
    - id: coldstart
      image: {{ .ColdstarterImage }}
      expectedPorts:
{{- if .Vars.lua_query_game_name }}
      - name: {{ $queryPort }}
        keepAliveTraffic: {{ $keepAliveTraffic }}
{{- end }}
{{- if and .Vars.main_port_protocol (ne $queryPort "main") }}
      - name: main
        keepAliveTraffic: {{ $keepAliveTraffic }}
{{- end }}
{{- if .Vars.extra_expected_keepalive_ports }}
{{- range split ";" .Vars.extra_expected_keepalive_ports }}
      - name: {{ . }}
        keepAliveTraffic: {{ $keepAliveTraffic }}
{{- end }}
{{- end }}
{{- if .Vars.extra_expected_ports }}
{{- range split ";" .Vars.extra_expected_ports }}
      - name: {{ . }}
{{- end }}
{{- end }}
{{- if .Vars.rcon_port }}
      - name: rcon
{{- end }}
      mounts:
      - path: "/runtime"
        sub_path: "."
      working_dir: "/runtime"
      env:
        DRUID_ROOT: "/runtime"
{{- if .Vars.lua_query_game_name }}
        DRUID_PORT_{{ upper $queryPort }}_COLDSTARTER: "packet_handler/query.lua"
        DRUID_COLDSTARTER_VAR_{{ env "GameName" }}: "{{ .Vars.lua_query_game_name }}"
        DRUID_COLDSTARTER_VAR_{{ env "GameSteamFolder" }}: "{{ .Vars.lua_query_folder }}"
        DRUID_COLDSTARTER_VAR_{{ env "GameSteamId" }}: "0"
        DRUID_COLDSTARTER_VAR_{{ env "MapName" }}: "{{ .Vars.lua_query_map }}"
        DRUID_COLDSTARTER_VAR_{{ env "ServerListName" }}: "{{ .Vars.lua_query_servername }}"
{{- if .Vars.lua_query_keywords }}
        DRUID_COLDSTARTER_VAR_{{ env "GameKeywords" }}: "{{ .Vars.lua_query_keywords }}"
{{- end }}
{{- if .Vars.lua_query_version }}
        DRUID_COLDSTARTER_VAR_{{ env "GameVersion" }}: "{{ .Vars.lua_query_version }}"
{{- end }}
{{- if .Vars.lua_query_version_prefix }}
        DRUID_COLDSTARTER_VAR_{{ env "GameVersionPrefix" }}: "{{ .Vars.lua_query_version_prefix }}"
{{- end }}
{{- if .Vars.lua_query_start_on_unknown_packet }}
        DRUID_COLDSTARTER_VAR_{{ env "StartOnUnknownPacket" }}: "{{ .Vars.lua_query_start_on_unknown_packet }}"
{{- end }}
{{- if .Vars.lua_steam_app_id }}
        DRUID_COLDSTARTER_VAR_{{ env "SteamAppId" }}: "{{ .Vars.lua_steam_app_id }}"
{{- end }}
{{- end }}
{{- if and .Vars.main_port_protocol (not (and .Vars.lua_query_game_name (eq $queryPort "main"))) }}
        DRUID_PORT_MAIN_COLDSTARTER: "generic"
{{- end }}
{{- if .Vars.rcon_port }}
        DRUID_PORT_RCON_COLDSTARTER: "generic"
{{- end }}
{{- if .Vars.extra_expected_keepalive_ports }}
{{- range split ";" .Vars.extra_expected_keepalive_ports }}
        DRUID_PORT_{{ upper . }}_COLDSTARTER: "generic"
{{- end }}
{{- end }}
{{- if .Vars.extra_expected_ports }}
{{- range split ";" .Vars.extra_expected_ports }}
        DRUID_PORT_{{ upper . }}_COLDSTARTER: "generic"
{{- end }}
{{- end }}
      command:
      - druid-coldstarter
    - id: start
      image: {{ .SteamImage }}
      expectedPorts:
{{- if .Vars.lua_query_game_name }}
      - name: {{ $queryPort }}
        keepAliveTraffic: {{ $keepAliveTraffic }}
{{- end }}
{{- if and .Vars.main_port_protocol (ne $queryPort "main") }}
      - name: main
        keepAliveTraffic: {{ $keepAliveTraffic }}
{{- end }}
{{- if .Vars.extra_expected_keepalive_ports }}
{{- range split ";" .Vars.extra_expected_keepalive_ports }}
      - name: {{ . }}
        keepAliveTraffic: {{ $keepAliveTraffic }}
{{- end }}
{{- end }}
{{- if .Vars.extra_expected_ports }}
{{- range split ";" .Vars.extra_expected_ports }}
      - name: {{ . }}
{{- end }}
{{- end }}
{{- if .Vars.rcon_port }}
      - name: rcon
{{- end }}
      mounts:
      - path: "/server"
      working_dir: "/server"
      tty: true
      command:
      - sh
      - -lc
{{- if eq .Version "pzserver" }}
      - sh configure-pzserver.sh && ./{{ .Version }} start && exec ./{{ .Version }} console
{{- else if .Vars.runtime_config_script }}
      - sh {{ .Vars.runtime_config_script }} && ./{{ .Version }} start && exec ./{{ .Version }} console
{{- else }}
      - ./{{ .Version }} start && exec ./{{ .Version }} console
{{- end }}
  start:
    needs:
    - install
    procedures:
    - ignore_failure: true
      image: {{ .SteamImage }}
      mounts:
      - path: "/server"
      working_dir: "/server"
      command:
      - ./{{ .Version }}
      - update
{{- if .Vars.runtime_config_script }}
    - image: {{ .SteamImage }}
      expectedPorts:
{{- range .Ports }}
      - name: {{ .Name }}
{{- end }}
      mounts:
      - path: "/server"
      working_dir: "/server"
      command:
      - sh
      - {{ .Vars.runtime_config_script }}
{{- end }}
    - image: {{ .SteamImage }}
      mounts:
      - path: "/server"
      working_dir: "/server"
      command:
{{- if eq .Version "pzserver" }}
      - sh
      - -lc
      - sh configure-pzserver.sh && ./{{ .Version }} start
{{- else }}
      - ./{{ .Version }}
      - start
{{- end }}
  stop:
    run: always
    procedures:
    - image: {{ .SteamImage }}
      mounts:
      - path: "/server"
      working_dir: "/server"
      command:
      - ./{{ .Version }}
      - stop
  restart:
    procedures:
    - image: {{ .SteamImage }}
      mounts:
      - path: "/server"
      working_dir: "/server"
      command:
      - echo
      - Restarting server...
{{- if .Vars.runtime_config_script }}
    - image: {{ .SteamImage }}
      expectedPorts:
{{- range .Ports }}
      - name: {{ .Name }}
{{- end }}
      mounts:
      - path: "/server"
      working_dir: "/server"
      command:
      - sh
      - {{ .Vars.runtime_config_script }}
{{- end }}
    - image: {{ .SteamImage }}
      mounts:
      - path: "/server"
      working_dir: "/server"
      command:
      - ./{{ .Version }}
      - restart
  install:
    run: once
    procedures:
    - image: {{ .SteamImage }}
      mounts:
      - path: "/server"
      working_dir: "/server"
      command:
      - echo
      - Installing LGSM...
    - image: {{ .SteamImage }}
      mounts:
      - path: "/server"
      working_dir: "/server"
      command:
      - sh
      - install-lgsm.sh
    - image: {{ .SteamImage }}
      mounts:
      - path: "/server"
      working_dir: "/server"
      command:
      - ./linuxgsm.sh
      - {{ .Version }}
    - image: {{ .SteamImage }}
      mounts:
      - path: "/server"
      working_dir: "/server"
      command:
      - sh
      - patch-lgsm-permissions.sh
    - image: {{ .SteamImage }}
      mounts:
      - path: "/server"
      working_dir: "/server"
      command:
      - ./{{ .Version }}
      - auto-install
{{- if eq .Vars.postinstall "enabled" }}
    - image: {{ .SteamImage }}
      mounts:
      - path: "/server"
      working_dir: "/server"
      command:
      - bash
      - postinstall.sh
{{- end }}
{{- if .Vars.runtime_config_script }}
    - image: {{ .SteamImage }}
      expectedPorts:
{{- range .Ports }}
      - name: {{ .Name }}
{{- end }}
      mounts:
      - path: "/server"
      working_dir: "/server"
      command:
      - sh
      - {{ .Vars.runtime_config_script }}
{{- end }}
serve: console
