name: Build docker images
on:
  workflow_dispatch:
  push:
    branches:
      - master
    tags:
      - v*
jobs:
  build-lgsm:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: artifacts.druid.gg
          username: ${{ secrets.IMAGE_REGISTRY_USER }}
          password: ${{ secrets.IMAGE_REGISTRY_PASSWORD }}

      - name: Build SteamCMD
        run: docker build -t artifacts.druid.gg/druid-team/druidd-steamcmd -f .docker/steamcmd/Dockerfile .
      - name: Push SteamCMD
        run: docker push artifacts.druid.gg/druid-team/druidd-steamcmd
