name: PR Pipeline
on:
  pull_request:
    branches: [master]
    paths-ignore:
      - '.github/workflows/test-scrolls.yml'
      - 'test-scrolls.sh'
      - 'README_TESTING.md'
jobs:
  build-deploy:
    runs-on: self-hosted
    env:
      SCROLL_REGISTRY_ENDPOINT: ${{ secrets.SCROLL_REGISTRY_ENDPOINT }}
      SCROLL_REGISTRY_API_KEY: ${{ secrets.SCROLL_REGISTRY_API_KEY }}
      SCROLL_REGISTRY_API_SECRET: ${{ secrets.SCROLL_REGISTRY_API_SECRET }}
      SCROLL_REGISTRY_BUCKET: ${{ secrets.SCROLL_REGISTRY_BUCKET_STAGING }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: ">=1.19.3"
      - run: make build-tree
      - name: Get registry binary
        uses: robinraju/release-downloader@v1.7
        with:
          repository: "highcard-dev/druid-cli"
          latest: true
          fileName: "druid"
          token: ${{ secrets.GO_REPO_TOKEN }}
      - run: chmod +x ./druid
      - name: Install druid
        run: sudo mv ./druid /usr/local/bin/druid
      - run: ./scripts/validate_all_scrolls.sh
