name: Prebuild LGSM
on:
  workflow_dispatch:
    inputs:
      image:
        description: "Image"
        required: false
        default: ""
  schedule:
    - cron: "0 3 * * *"
jobs:
  build-lgsm:
    runs-on: self-hosted
    strategy:
      matrix:
        image: ["ark", "cs2"]
    steps:
      - uses: actions/checkout@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: artifacts.druid.gg
          username: ${{ secrets.IMAGE_REGISTRY_USER }}
          password: ${{ secrets.IMAGE_REGISTRY_PASSWORD }}
      - uses: actions/setup-go@v5
        with:
          go-version: ">=1.22.3"

      #      - name: Setup tmate session
      #        uses: mxschmitt/action-tmate@v3
      #        env:
      #          PRESIGN_ACCESS_KEY: ${{ secrets.PRESIGN_ACCESS_KEY }}
      #          PRESIGN_BUCKET_NAME: ${{ secrets.PRESIGN_BUCKET_NAME }}
      #          PRESIGN_S3_ENDPOINT: ${{ secrets.PRESIGN_S3_ENDPOINT }}
      #          PRESIGN_SECRET_KEY: ${{ secrets.PRESIGN_SECRET_KEY }}
      #          BACKUP_ADDITIONAL_ARGS: "--insecure"
      - name: Prebuild and upload Image ${{ matrix.image }}
        run: ./scripts/prebuild/prebuild.sh ${{ matrix.image }}
        env:
          PRESIGN_ACCESS_KEY: ${{ secrets.PRESIGN_ACCESS_KEY }}
          PRESIGN_BUCKET_NAME: ${{ secrets.PRESIGN_BUCKET_NAME }}
          PRESIGN_S3_ENDPOINT: ${{ secrets.PRESIGN_S3_ENDPOINT }}
          PRESIGN_SECRET_KEY: ${{ secrets.PRESIGN_SECRET_KEY }}
          BACKUP_ADDITIONAL_ARGS: "--insecure"
