name: Test Scrolls

on:
  pull_request:
    paths:
      - 'scrolls/**'
      - '.github/workflows/test-scrolls-runtime.yml'
      - 'scripts/test-scroll-runtime.sh'
  push:
    branches:
      - master
    paths:
      - 'scrolls/**'
      - '.github/workflows/test-scrolls-runtime.yml'
      - 'scripts/test-scroll-runtime.sh'

jobs:
  test:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      
      - name: Login to Docker registry
        uses: docker/login-action@v3
        with:
          registry: artifacts.druid.gg
          username: ${{ secrets.IMAGE_REGISTRY_USER }}
          password: ${{ secrets.IMAGE_REGISTRY_PASSWORD }}
      
      - name: Test Minecraft Vanilla 1.21.1
        env:
          TIMEOUT: 600
        run: |
          chmod +x scripts/test-scroll-runtime.sh
          scripts/test-scroll-runtime.sh scrolls/minecraft/minecraft-vanilla/1.21.1
        timeout-minutes: 15
